.singInInput{
    margin-right: 8pt;
}

.title{
	color:black;
	font-size: 80px;
}

.description{
	margin-top:50px;
	color:black;
}

.text_pic_left{
	margin-top:50px;
	width: 80%;
	height: 70%;
}
